@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  margin: 0;
  font-weight: 600;
  color: rgb(54, 54, 54);
}

header {
  border-bottom: 2px solid #efefef;
  margin-bottom: 6px;
  margin-top: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.d-none {
  display: none !important;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 30px;
  padding: 10px;
}

.header-left {
  display: flex;
  gap: 30px;
}

.header-right {
  display: flex;
  gap: 30px;
}

.header-icons {
  height: 30px;
  width: 30px;
  margin-right: 15px;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
}

.header-icons:hover {
  background-color: #efefef;
}

.header-logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.header-profile {
  height: 40px;
  width: 40px;
  border-radius: 30px;
  padding: 5px;
  cursor: pointer;
}

.header-profile:hover {
  background-color: #efefef;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content img {
  cursor: pointer;
}

.imgbox {
  margin: 3px 5px;
}

.imgbox img {
  object-fit: cover;
  height: 350px;
}

.imgbox img:hover {
  opacity: 0.9;
}

.show-img-bg {
  background-color: rgb(0, 0, 0);
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.show-img img {
  height: 500px;
  background-color: #efefef;
  border-radius: 10px;
}

.arrow-left {
  z-index: 999;
  background-color: #313131;
  position: fixed;
  top: 48%;
  left: 20px;
  /* bottom: 50%; */
  height: 50px;
  border-radius: 25px;
}

.arrow-left:hover {
  background-color: #6e6d6d;
  cursor: pointer;
}

.arrow-right {
  z-index: 999;
  background-color: #313131;
  position: fixed;
  top: 48%;
  right: 20px;
  /* bottom: 50%; */
  height: 50px;
  border-radius: 25px;
}

.arrow-right:hover {
  background-color: #6e6d6d;
  cursor: pointer;
}

footer {
  height: 150px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

footer span {
  color: white;
  font-size: 20px;
}

@media (max-width: 1080px) {
  .arrow-left {
    top: 76%;
    left: 40%;
  }

  .arrow-right {
    top: 76%;
    right: 40%;
  }

  .show-img img {
    height: auto;
    width: 90vw;
  }
}

@media (max-width: 650px) {
  .first-icon {
    display: none;
  }

  .icon-grp {
    display: none;
  }

  .imgbox img {
    height: 300px;
  }

  .arrow-left {
    top: 66%;
    left: 40%;
    height: 35px;
  }

  .arrow-right {
    top: 66%;
    right: 40%;
    height: 35px;
  }
}

@media (max-width: 560px) {
  .imgbox img {
    height: 250px;
  }
}

@media (max-width: 465px) {
  .imgbox img {
    height: 200px;
  }
}

@media (max-width: 400px) {
  .arrow-left {
    top: 60%;
    left: 30%;
    height: 35px;
  }

  .arrow-right {
    top: 60%;
    right: 30%;
    height: 35px;
  }
}

@media (max-width: 375px) {
  .header-box {
    margin: 0px 10px;
  }

  .header-icons {
    margin-right: 0px;
  }

  .imgbox img {
    height: 150px;
  }
}
