

body {
    margin: 0;
    font-family: "", sans-serif;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.imgbox {
    height: 350px;
    margin: 10px;
}

.imgbox img {
    object-fit: cover;
}